# Terrform files

.terraform
*/.terraform
*.tfstate
*/.tfstate
.terraform.lock.hcl
*/.terraform.lock.hcl
*.tfvars
*/*.tfvars
*/terraform.tfstate.backup

# Private/Public keys

*.pem
*/*.pem
ssh-homelab-tf
todo.md